[Unit]
Description=A service to check regularly for system updates
After=network-up.target

[Service]
ExecStart=/root/.run-checks
Restart=always

[Install]
WantedBy=multi-user.target
